@import "./components/forms.css";
@import "./components/tables.css";
@import "./components/header.css";
@import "./components/login.css";

body {
  background-color: #272727;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: 0;
}

.crud {
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 4fr;
}

ul {
  list-style: none;
}