.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 5px;
}

.form-header {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
}

.form-tabs ul {
  display: flex;
}

.form-tabs ul li {
  color: hsl(272, 40%, 35%);
  cursor: pointer;
  height: 2rem;
  padding: 0.3rem;
}

.form-tabs ul li.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(272, 40%, 35%);
}

.form-buttons {
  padding: 0 0.5rem;
}

.form-buttons ul {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.form-buttons ul svg {
  fill: hwb(256 1% 66%);
  height: 1.8rem;
  width: 1.8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 5px;
}

.form-header {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
}

.form-tabs ul {
  display: flex;
}

.form-tabs ul li {
  color: hsl(272, 40%, 35%);
  cursor: pointer;
  height: 2rem;
  padding: 0.3rem;
}

.form-tabs ul li.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(272, 40%, 35%);
}

.form-buttons {
  padding: 0 0.5rem;
}

.form-buttons ul {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.form-buttons ul svg {
  fill: hwb(256 1% 66%);
  height: 1.8rem;
  width: 1.8rem;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-element input {
  background-color: hsl(225, 63%, 65%);
  border-bottom: solid 1px #fff;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 0.3rem 0;
}

.form-element select {
  background-color: hsl(225, 63%, 65%);
  border-bottom: solid 1px #fff;
  color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 0.3rem 0;
}

.form-element-input input.error {
  border-bottom: 2px solid hsl(0, 93%, 66%);
}


.table-container {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 1rem;
}

.table-header {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.table-header-buttons ul {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.table-header-buttons svg {
  fill: hwb(256 1% 66%);
  height: 1.8rem;
  width: 1.8rem;
}

.filter-button,
.filter-cancel-button {
  display: block;
  padding: 0;
}

.filter-button-active,
.filter-cancel-button-active {
  display: block;
}

.filter-modal {
  align-items: center;
  background-color: hsla(0, 0%, 0%, 50%);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  opacity: 0;
  top: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 5000;
}

.filter-modal.active {
  opacity: 1;
  visibility: visible;
}