* {
  box-sizing: border-box;
}

header {
  align-items: center;
  display: flex;
  height: 4.0rem;
  justify-content: space-between;
}

header.title {
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.title-header h1 {
  width: fit-content;
}

header.menu {
  cursor: pointer;
}

.menu svg {
  fill: hsl(0, 0%, 100%);
  height: 1.8rem;
  width: 1.8rem;
}