.panel-header {
  align-items: center;
  display: flex;
  height: 4.0rem;
  justify-content: space-between;
  margin: 0.7rem;
}

.panel-menu svg {
  cursor: pointer;
  fill: hsl(0, 0%, 100%);
  height: 1.8rem;
  width: 1.8rem;
}


.panel-title {
  color: hsl(0, 0%, 100%);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.panel-title-header {
  width: fit-content;
}