.table-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.table-header {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.table-header-buttons ul {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.table-header-buttons svg {
  fill: hwb(256 1% 66%);
  height: 1.8rem;
  width: 1.8rem;
}

.filter-button,
.filter-cancel-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.filter-button.active,
.filter-cancel-button.active {
  display: block;
}

.table-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 75vh;
  max-height: 75vh;
  overflow-y: auto;
}

.table-body::-webkit-scrollbar {
  width: 5px;
}

.table-body::-webkit-scrollbar-thumb {
  background-color: hsl(225, 63%, 65%);
  border-radius: 10px;
}

.table-register {
  width: 80%;
}

.table-register-buttons ul {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.table-register-buttons {}

.table-register-buttons ul li svg {
  fill: hwb(256 1% 66%);
  height: 1.8rem;
  width: 1.8rem;
}

.table-register-data {
  gap: 1rem;
}

.table-register-data ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #000;
  padding: 0.5rem;
}

.table-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.table-info {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

.table-info p {
  color: hsl(0, 0%, 29%);
  font-weight: 700;
  margin: 0;
}

.table-page-buttons {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.table-page-button {
  cursor: pointer;
  fill: #1a1a1a;
  height: 1.5rem;
  width: 1.5rem;
}

.table-card {
  background-color: #2e2f30;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  border-bottom: solid 0.05rem #1d1d1d;
  border-top: solid 0.05rem #1d1d1d;
}

.table-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table-row-element {
  display: flex;
  gap: 0.5rem;
}

.table-card-buttons {
  display: flex;
  float: right;
}

.table-card-buttons ul {
  display: flex;
  gap: 0.5rem;
}

.table-card-buttons ul li svg {
  fill: #1a1a1a;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}